#products-page{
  background-image: url("../components-images/hospital-img.jpg");
  background-repeat: round;
  height: 62vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  }
  @media (max-width: 1000px) {
    .cart-prods-bought{
       display: flex;
       flex-direction: column;
       overflow-y: scroll;
       max-height: 100vh;
     }
   }
  
#products-page-b{
  color: white;
  background-color: black;
}

.cart-prods-bought{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 50px;
  background-color: #6f0f9a;
  color: white;
  border-radius: 20px;
}

.delete-single-prod{
  cursor: pointer;
  padding: 5px;
  border-color: transparent;
  border-radius: 5px;
  font-size: 1em;
  color: red;
}

.delete-single-prod:hover{
  background-color: red;
  color: white;
  transition: 1s;
}